<section id="home">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card my-4 center" style="width: 18rem">
          <img
            src="https://t4.ftcdn.net/jpg/02/66/31/75/360_F_266317554_kr7DPOoM5Uty0YCeFU9nDZTt4a2LeMJF.jpg"
            class="card-img-top"
            alt="avatar"
          />
          <div class="card-body">
            <h5 class="card-title">{{ myInformation.name }}</h5>
            <p class="card-text">
              {{ myInformation.intro }}
            </p>
            <a href="#" class="btn btn-primary">{{ myInformation.adress }}</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card my-4 center" style="width: 18rem">
          <img
            src="https://t4.ftcdn.net/jpg/02/66/31/75/360_F_266317554_kr7DPOoM5Uty0YCeFU9nDZTt4a2LeMJF.jpg"
            class="card-img-top"
            alt="avatar"
          />
          <div class="card-body">
            <h5 class="card-title">{{ myInformation.name }}</h5>
            <p class="card-text">
              {{ myInformation.intro }}
            </p>
            <a href="#" class="btn btn-primary">{{ myInformation.adress }}</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card my-4 center" style="width: 18rem">
          <img
            src="https://t4.ftcdn.net/jpg/02/66/31/75/360_F_266317554_kr7DPOoM5Uty0YCeFU9nDZTt4a2LeMJF.jpg"
            class="card-img-top"
            alt="avatar"
          />
          <div class="card-body">
            <h5 class="card-title">{{ myInformation.name }}</h5>
            <p class="card-text">
              {{ myInformation.intro }}
            </p>
            <a href="#" class="btn btn-primary">{{ myInformation.adress }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
